@charset "ISO-8859-1";
body
{
background-color: #ccffff;
}
h1, h2, h3 {
	text-align: center;
}
table {
	text-align: center;
	width: 90%;
	
}
#alter{
margin-left:80px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
}

table#alter tr:nth-child(even) {
	background-color: #eee;
}

table#alter tr:nth-child(odd) {
	background-color: #fff;
}

table#alter th {
	color: white;
	background-color: gray;
}
table.center {
	margin-left: auto;
	margin-right: auto;
}
#button1
{
text-align: center;  
margin:auto; 
}
