@charset "ISO-8859-1";
h3
{
	text-align: center;
}
body {
	background-image:url('https://media.istockphoto.com/photos/left-doctors-hand-in-a-white-latex-medical-glove-holds-a-magnifying-picture-id1353071739?b=1&k=20&m=1353071739&s=612x612&w=0&h=QgvgODgmbifdvZm-wctzxPj2DPs87h0c1GXeBgQ2qDU=')
}
.box
{
	float: center;
	text-align: center;	
}
#errormessage
{
	text-align:center;
	color:#fff;
	font-size:35px;
}